body {
    margin: 0;
    min-height: 100vh;
    /* height: 100%;
	width: 100%; */
    /* 能够融合背景图片的颜色 */
    background-color: #ffffff;
    /* 背景图片 */
    background-image:
        radial-gradient(closest-side, rgba(156, 123, 255, 1.0), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgba(243, 193, 215, 1), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgba(205, 179, 255, 1.0), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(255, 196, 151, 1.0), rgba(248, 192, 147, 0));
    /* 以屏幕长的一边计算，控制它们的大小 */
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    /* 设置位置 */
    background-position:
        -80Vmax -80vmax,
        60Vmax -30vmax,
        10Vmax 10vmax,
        -30Vmax -10vmax,
        50Vmax 50vmax;
    background-repeat: no-repeat;
    /* 调用动画 */
    animation: 20s move linear infinite;
	
	/* justify-content: center;
	display: flex; */
}

.head {
            position: fixed;
            
            width: 100%;
            right: 0;
            top: 0;
            z-index: 999;/* //一直将导航栏置于最顶层 */
            background-color: rgba(255, 255, 255, 0.4);
            height: 80px;
            display: flex;
            align-items: center;
            border-radius: 0px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            padding: 0 50px;
        }


nav {
	        background-color: rgba(255, 255, 255, 0.4);
	        height: 80px;
	        display: flex;
	        align-items: center;
	        border-radius: 0px;
	        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	        padding: 0 50px;
			
}

nav .logo {
	        height: 50px;
	        margin-right: auto;
}

nav ul.menu {
	        display: flex;
}

nav ul.menu li {
	        list-style: none;
}

nav ul.menu li a {
	        display: block;
	        padding: 0 20px;
	        color: #474747;
	        text-decoration: none;
	        font-weight: bold;
}

header {
	        background-color: rgba(255, 255, 255, 0.4);
	        /* height: 300px; */
	        display: flex;
	        flex-direction: column;
	        justify-content: center;
	        align-items: center;
}

header h1 {
		  color: #636363; /* 设置文字颜色 */
		  margin: 0; /* 去除标题的默认外边距 */
		}

section {
	        padding: 50px;
}

section p {
	        font-size: 24px;
	        line-height: 1.5;
}

footer {
	        background: #000000;
	        color: #fff;
	        height: 50px;
	        display: flex;
	        align-items: center;
	        justify-content: center;
}





footer p {
	        margin: 0;
	        font-size: 18px;
}

.logo img{
	        width: 100%;
	        height: 100%;
}

.nav .menu li a:hover{
	        color: blue;
}

.mycss:hover{
	font-weight: bold;
	color: azure;
}