* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ijy2co {
    height: 52.19998779296875px;
    en: 1;
}

.c43895 {
    border-radius: 1rem;
}

.wrapper.image-wrapper.bg-cover.bg-image.bg-overlay.bg-overlay-500 {
    background-repeat: repeat-x;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
    background-image: url('https://www.toopic.cn/public/uploads/image/20200404/20200404182849_78999.jpg');
}

.card-body.p-6.p-md-11.d-lg-flex.flex-row.align-items-lg-center.justify-content-md-between.text-center.text-lg-start {
    background-image: url('https://www.toopic.cn/public/uploads/image/20200404/20200404182849_78999.jpg');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}