/* styles.css */

/* 基本样式 */
body {
    font-family: 'Arial', sans-serif;
    background: #e0e0e0;
    margin: 0;
    display: flex;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar {
    background-color: #e0e0e0;
    color: #333;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 10px 0 30px #bebebe;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-brand {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#current-time {
    font-size: 1rem;
    margin-bottom: 20px;
}

.container {
    background: #e0e0e0;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    
    padding: 100px;
    margin-left: 270px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    width: calc(100% - 290px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e0e0e0;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    transition: transform 0.2s, background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff;
}

.icon {
    margin-right: 10px;
}

.speed {
    font-size: 0.9rem;
    color: #888;
}

#uptime {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

#search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    transition: box-shadow 0.3s ease;
}

#search:focus {
    outline: none;
    box-shadow: 5px 5px 15px #aaaaaa, -5px -5px 15px #ffffff;
}

/* 通知公告样式 */
#notification {
    background: #ffeb3b;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#notification h3 {
    margin: 0 0 10px;
}

/* 友情推荐样式 */
#recommendations {
    background: #cce7ff;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#recommendations ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#recommendations li {
    margin: 10px 0;
}

#recommendations a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

#recommendations a:hover {
    color: #007bff;
}

/* 关注我们样式 */
#follow-us {
    background: #d4edda;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#follow-us .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#follow-us .social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#follow-us .social-icons a:hover {
    color: #007bff;
}

/* 主题切换按钮样式 */
#theme-toggle {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
}

#theme-toggle:hover {
    background-color: #45a049;
}

/* 暗黑主题样式 */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme .sidebar {
    background-color: #333;
    color: #fff;
    box-shadow: 10px 0 30px #1f1f1f;
}

.dark-theme .container {
    background-color: #333;
    color: #fff;
    box-shadow: 20px 20px 60px #1f1f1f, -20px -20px 60px #494949;
}

.dark-theme li {
    background-color: #333;
    box-shadow: 5px 5px 15px #1f1f1f, -5px -5px 15px #494949;
}

.dark-theme a {
    color: #fff;
}

.dark-theme #theme-toggle {
    background-color: #666;
    color: white;
    box-shadow: 5px 5px 15px #1f1f1f, -5px -5px 15px #494949;
}

.dark-theme #theme-toggle:hover {
    background-color: #555;
}

.dark-theme #uptime,
.dark-theme .speed {
    color: #aaa;
}

.dark-theme #notification {
    background-color: #575717;
    color: #fff;
}

.dark-theme #recommendations {
    background-color: #204d7a;
    color: #fff;
}

.dark-theme #follow-us {
    background-color: #234f30;
    color: #fff;
}

.dark-theme #follow-us .social-icons a {
    color: #ccc;
}

.dark-theme #follow-us .social-icons a:hover {
    color: #007bff;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .container {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        position: static;
        box-shadow: none;
    }

    .sidebar-brand {
        margin-bottom: 0;
        margin-right: auto;
        font-size: 1.2rem;
    }

    #current-time {
        display: none;
    }

    #theme-toggle {
        margin-left: auto;
        margin-top: 10px;
    }
}
